.taggd__button {
  display: block;
  width: 1rem;
  height: 1rem;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  background-color: rgba(219, 50, 92, 0.75);
  border-radius: 0.5rem;
}

.taggd__button:hover {
  z-index: 10;
  background-color: rgb(219, 50, 92);
}

.taggd__popup {
  position: absolute;
  top: 125%;
  left: 50%;
  display: block;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(219, 50, 92, 0.75);
  transform: translateX(-50%);
}
