* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
}

.header {
  padding: 10px;
  text-align: center;
}

.header li {
  display: inline-block;
}

.header li.active a {
  color: red;
}
